img {
    width:250px

}
body {
    text-align:  center; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    color: rgb(0, 0, 0); 
    background-color: rgb(255, 246, 230);
   
   

    
}




















img{ 
    width:375px

}

.navbar {
  position: fixed;
  width: 100%;
  height: 54px;
  background: #ffe2c7;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.top-nav { top: 0; }
.bottom-nav { bottom: 0; }

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  color: rgb(255, 153, 0);
  text-decoration: none;
  font-size: 13px;
  position: relative;
  transition: color 1s ease;
  
  /* Slide in animation properties */
  display: inline-block;
  opacity: 0;
  animation: slideIn 5s ease-out forwards;
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 50%;
  background: #000000;
  transition: all 0.9s ease;
  transform: translateX(-50%);
}

/* Keyframes for the slide-in effect */
@keyframes slideIn {
  0% {
    transform: translateY(-20px); /* Starts above the final position */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* Moves into the final position */
    opacity: 1;
  }
}