img {
    width:275px

}
body {
    text-align:  center; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    color: rgb(0, 0, 0); 
    background-color: rgb(255, 246, 230);
   
   

    
}





















.navbar {
  position: fixed;
  width: 100%;
  height: 53px;
  background: #fff1e3;
  display: flex;
  justify-content: left;
  align-items: center;
  z-index: 1000;
}

.top-nav { top: 0; }
.bottom-nav { bottom: 0; }

.nav-links {
  display: flex;
  gap: 100px;
}

.nav-links a {
  color: rgb(255, 226, 187);
  font-size: 13px;
  position: absolute;
  transition: color 1s ease;
  
  
  display: inline-block;
  opacity: 100;
  animation: slideIn 5s ease-out forwards;
}

.nav-links a::after {
  content: '';
  position: sticky;
  width: 0;
  height: 3px;
  bottom: -2px;
  left: 60%;
  background: #000000;
  transition: all 0.9s ease;
  transform: translateX(-50%);
}


